.button-return {
    display: block;
    width: 50px;
    height: 25px;
    background: #4681f4;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}

.container {
    display: flex;
    justify-content: center;
}