.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttons-container__button {
    margin: 10px;
    font-weight: bold;
    line-height: 1.5;
    color: white;
    cursor: pointer;
    border: 0px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    background-color: #4681f4;
    border-color: black;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.buttons-container__button:disabled {
    background-color: darkblue;
    cursor: not-allowed;
}